@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "mixins";
body {
    margin: 0;
}

.header {
    // height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.56) 100%), url("../../public/images/backgroundlg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @media screen and (min-width: 400px) {
        height: 900px;
    }
}

.header-text {
    font-family: "Pacifico", cursive;
    font-size: 40px;
    color: white;
}

.container {
    display: flex;
    gap: 2;
    li {
        display: flex;
        align-items: center;
    }
    a {
        color: white;
        font-family: "Figtree", sans-serif;
        font-size: 18px;
        line-height: 22px;
        margin-right: 24px;
    }
}

.nav-link {
    color: black;
    padding: 5px 20px;
    &:hover {
        color: #ec3683;
    }
}

.active {
    color: #ec3683 !important;
    font-weight: bold;
    background: white;
}

.navBtn {
    @include buttonStyles(transparent,
    #ec3683,
    #ec3683);
    &:hover {
        color: #ec3683;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 550px;
    margin: auto;
    font-family: "Pacifico", cursive;
    color: white;
    margin-top: 40px;
    .secret {
        font-family: "Pacifico";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        /* or 120% */
        text-align: center;
        color: #ffffff;
        @media screen and (min-width: 400px) {
            font-size: 36px;
            line-height: 48px;
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #525252;
    // background-color: antiquewhite;
    margin-top: 24px;
    margin-bottom: 50px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details {
        margin-bottom: 0px;
    }
    @media screen and (min-width: 400px) {
        margin-top: 48px;
    }
}

.btnPrimary {
    @include buttonStyles(#ffffff,
    #ec3683,
    #ec3683);
}

.btnSecondary {
    @include buttonStyles(#ec3683,
    #ffffff,
    transparent);
}

.tableSection {
    // background-color: rgb(173, 242, 242);
    display: flex;
    flex-direction: column;
    #packages {
        font-family: "Figtree";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #1e1e1e;
    }
    .tables {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 24px;
        @media screen and (max-width: 576px) {
            flex-direction: column;
        }
        @media screen and (min-width: 1450px) {
            justify-content: center;
        }
    }
}

.shop {
    p {
        margin: 0;
        font-family: "Figtree";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #1e1e1e;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 24px;
    margin-right: 24px;
    @media screen and (max-width: 400px) {
        button {
            display: none;
        }
    }
    @media screen and (min-width: 1300px) {
        margin-left: 50px;
        // margin-right: 80px;
    }
}

.modelSection {
    // background-color: rgb(191, 144, 144);
    display: flex;
    flex-direction: column;
    margin-bottom: 144px;
    .models {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 24px;
        @media screen and (max-width: 576px) {
            .models {
                gap: 8px;
            }
            img {
                width: 160px;
            }
        }
        @media screen and (min-width: 1200px) {
            justify-content: center;
        }
    }
}

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
    .partnerslogos1 {
        display: flex;
        flex-direction: row;
        gap: 40px;
        @media screen and (max-width: 576px) {
            gap: 16px;
        }
    }
    .partnerslogos2 {
        display: flex;
        flex-direction: column;
        gap: 40px;
        #part2 {
            display: flex;
        }
        @media screen and (max-width: 576px) {
            gap: 16px;
        }
    }
    @media screen and (max-width: 576px) {
        .partnerslogos1 {
            display: none;
        }
    }
    @media screen and (min-width: 577px) {
        .partnerslogos2 {
            display: none;
        }
    }
}

.footer {
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    padding: 32px 104px;
    .socials {
        display: flex;
        gap: 16px;
    }
    @media screen and (max-width: 576px) {
        padding: 16px;
    }
}

@media only screen and (max-width: 700px) {
    .navbar-collapse {
        background: #e2e1e1;
        a {
            color: #525252;
        }
    }
}